<amp-fit-text
  height="40px">
  <%= link_to pretty_name(delegate), delegate_amp(delegate), target: "_self" %>, <%= link_to "#{delegate.state}", state_url(delegate.state), target: "_self" %>
</amp-fit-text>
<div class="show-delegate">
  <amp-carousel width=310 height=513  layout="responsive" type="slides">
    <% delegate.links.split(" ").each_with_index do |l,i| %>
      <% if l[/gofundme/] %>
        <div>
          <amp-iframe height=473 width=468
              sandbox="allow-scripts allow-same-origin allow-forms allow-popups-to-escape-sandbox allow-popups"
              layout="fixed"
              frameborder="0"
              src="https://www.gofundme.com/localgiving-single?aff=patch&nav=&url=<%= l[/[a-zA-Z0-9-_]*$/] %>">
            <amp-img height=513 width=468 src="https://imgh.us/eca-p16d128.png" placeholder></amp-img>
          </amp-iframe>
        </div>
      <% end %>
    <% end %>
  </amp-carousel>
</div>
<amp-social-share id="tweeter" height="60px" width="240px" data-param-url="<%= request.url.gsub(/http[s]{0,1}:\/\//, { 'http://' => "https://cdn.ampproject.org/c/", 'https://' => "https://cdn.ampproject.org/c/s/" }) %>" data-param-text="<%= share_me(delegate) %>" type="twitter"></amp-social-share>
