<amp-fit-text
	media="(min-width: 720px)"
  height="100px"
	layout="fixed-height">
	<% @states.each do |state| %>
		<a href="<%= state_delegates_url(state: state).gsub(/http[s]{0,1}:\/\//, { 'http://' => "https://cdn.ampproject.org/c/", 'https://' => "https://cdn.ampproject.org/c/s/" }) %>"><%= state %></a>
	<% end %>
</amp-fit-text>
<amp-fit-text
	media="(min-width: 520px) and (max-width: 719px)"
	layout="fixed-height"
  height="210px">
	<% @states.each do |state| %>
		<a href="<%= state_delegates_url(state: state).gsub(/http[s]{0,1}:\/\//, { 'http://' => "https://cdn.ampproject.org/c/", 'https://' => "https://cdn.ampproject.org/c/s/" }) %>"><%= state %></a>
	<% end %>
</amp-fit-text>
<amp-fit-text
	media="(max-width: 519px)"
	layout="fixed-height"
  height="300px">
	<% @states.each do |state| %>
		<a href="<%= state_delegates_url(state: state).gsub(/http[s]{0,1}:\/\//, { 'http://' => "https://cdn.ampproject.org/c/", 'https://' => "https://cdn.ampproject.org/c/s/" }) %>"><%= state %></a>
	<% end %>
</amp-fit-text>
