<%= render partial: "twitter_tags", locals: { title: "Adopt These Bernie Delegates, Help Our Voices Be Heard", description: "Share to help these #{@delegates.length} Bernie delegates reach Philly!" } %>

<h1>Delegates</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Name last</th>
      <th>Name first</th>
      <th>Links</th>
    </tr>
  </thead>

  <tbody>
    <% @delegates.each do |delegate| %>
      <tr>
        <td><a href="/states/<%= URI.encode(delegate.state) %>/delegates"><%= delegate.state %></td>
        <td><%= link_to delegate.name_last, delegate_path(delegate) %></td>
        <td><%= link_to delegate.name_first, delegate_path(delegate) %></td>
        <td>
          <% delegate.links.split(" ").each_with_index do |l,i| %>
            <%= link_to "Resource #{i + 1}", l %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
