<p id="notice"><%= notice %></p>

<h1>Slates</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Tweet</th>
      <th>Card title</th>
      <th>Card description</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slates.each do |slate| %>
      <tr>
        <td><%= slate.image %></td>
        <td><%= slate.tweet %></td>
        <td><%= slate.card_title %></td>
        <td><%= slate.card_description %></td>
        <td><%= slate.title %></td>
        <td><%= link_to 'Show', slate %></td>
        <td><%= link_to 'Edit', edit_slate_path(slate) %></td>
        <td><%= link_to 'Destroy', slate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slate', new_slate_path %>
