<!doctype html>
<html ⚡>
<head>
	<title>Delegation</title>
  <link href="<%= root_url + "favicon.ico" %>" rel="shortcut icon" type="image/x-icon" />
  <link rel="canonical" href="<%= request.url %>" />
  <meta charset="utf-8">
  <%= yield :twitter_tags %>
	<%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
	<script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script> 
	<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
	<script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
	<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js" async></script>
  <script async custom-element="amp-analytics"    src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <style amp-custom>
    body header div {
      width: 100%;
      height: 70px;

      background-image: url('/delegation-header.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
    body {
      background-color: white;
			text-align: center;
      padding: 1em;
    }
		amp-iframe {
			text-align: center;
		}

		table {
			margin-left: auto;
			margin-right: auto;
		}
    amp-accordion {
    }

    amp-social-share {
      margin-top:7px;
      background-color: #e11;
    }
    amp-social-share#tweeter-state {
      margin-top:7px;
      background-color: #e11;
    }

    amp-social-share[type=twitter] {
      border-radius: 60px;
    }
    .amp-carousel-button {
      cursor: pointer;
    }
    .amp-carousel-button:hover {
      background-color: rgba(68, 138, 191, 0.8);
    }

    .amp-carousel-button-next {
      margin-right: -16px;
      height: 100%;
      width: 5em;
    }
    .amp-carousel-button-prev {
      margin-left: -16px;
      height: 100%;
      width: 5em;
    }

		.delegate {
			text-align: center;
		}

		.show-delegate {
			max-width: 468px;
			max-height: 473px;
			margin: auto;
		}

    a {
      color: #075DA4;
    }

    a .donation {
      margin-left: auto;
      margin-right: auto;
      height: 90px;
      width: 90px;
      background: url("/cash.svg");
      background-size: contain;
      background-position: center top;
    }

    .delegation, .small.delegate {
      border-bottom: 4px dashed #E11;
    }

    footer a.logo div.made {
      width: 100%;
      max-height:210px;
      min-height:100px;
      background-image: url('/made.png');
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media (min-width: 520px) {
      a .donation {
        display: none;
      }

      .small.delegate {
        display: none;
      }

      body header div {
        width: 100%;
        height: 100px;
      }
      footer a.logo {
        max-width: 520px;
      }

      footer a.logo div.made {
        width: 100%;
        max-height:190px;
        min-height:190px;
        background-image: url('/made.png');
        background-position: center center;
        background-size: 520px;
        background-repeat: no-repeat;
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
      }

    }

    h2.state {
      text-align: center;
      padding-left: 1em;
    }
  </style>
</head>
<body>
  <amp-analytics type="googleanalytics" id="2x1-image">
    <script type="application/json">
      {
        "vars": {
          "account": "UA-78168080-1"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          },
          "trackAnchorClicks": {
            "on": "click",
            "selector": "a",
            "request": "event",
            "vars": {
              "eventLabel": "clicked on a link"
            }
          }
        }
      }
    </script>
  </amp-analytics>
  <header>
    <a href='<%= root_amp %>' target="_self"><div></div></a>
  </header>
	<%= yield %>
	</br>
  <%= render partial: "delegates/states" %>
  <footer>
		<a class='logo' href="http://www.adoptaberniedelegate.com/">
      <div class='made'></div>
		</a>
  </footer>
</body>
</html>

